[submodule "src/pytorch_Realtime_Multi-Person_Pose_Estimation"]
	path = src/pytorch_Realtime_Multi-Person_Pose_Estimation
	url = https://github.com/glhr/pytorch_Realtime_Multi-Person_Pose_Estimation
[submodule "src/fastpose-drnoodle"]
	path = src/fastpose-drnoodle
	url = https://github.com/glhr/fastpose
[submodule "src/mmpose"]
	path = src/mmpose
	url = https://github.com/open-mmlab/mmpose
[submodule "src/pytorch-pose-hg-3d"]
	path = src/pytorch-pose-hg-3d
	url = https://github.com/glhr/pytorch-pose-hg-3d
[submodule "src/pose_utils/rospy_message_converter"]
	path = src/pose_utils/rospy_message_converter
	url = https://github.com/uos/rospy_message_converter