<?xml version="1.0"?>
<launch>
  <arg name="cam" default="wrist" />
  <node name="ros_transform" pkg="human_pose_ROS" type="ros_transform.py" args="--ar --cam $(arg cam)" required="true" output="screen"/>
  <node name="filter_skeletons" pkg="human_pose_ROS" type="filter_skeletons.py" args="--nofilter" required="true" output="screen"/>
  <node name="visualize_skeletons" pkg="human_pose_ROS" type="visualize_skeletons.py" required="true" output="screen"/>
  <node name="ar_tracker" pkg="human_pose_ROS" type="ar_tracker.py" args="" required="true" output="screen"/>


</launch>
