<?xml version="1.0"?>
<launch>
  <arg name="cam" default="wrist" />
  <node name="openpifpaf" pkg="human_pose_ROS" type="openpifpaf_ros.py" args="--cam --realsense $(arg cam) --scale 0.5" required="true" output="screen"/>

  <node name="median_filter" pkg="human_pose_ROS" type="filter_skeletons.py" args="" required="true" output="screen"/>

  <node name="openpifpaf_transformed_kalman" pkg="human_pose_ROS" type="ros_transform.py" args="--cam $(arg cam) --topic openpifpaf_pose_kalman" required="true" output="screen"/>
  <node name="openpifpaf_transformed_raw" pkg="human_pose_ROS" type="ros_transform.py" args="--cam $(arg cam) --topic openpifpaf_pose --pixel" required="true" output="screen"/>

  <node name="visualize_skeletons_kalman" pkg="human_pose_ROS" type="visualize_skeletons.py" args="--topic openpifpaf_pose_kalman" required="true" output="screen"/>
  <node name="visualize_skeletons_transformed_kalman" pkg="human_pose_ROS" type="visualize_skeletons.py" args="--topic openpifpaf_pose_transformed_kalman --marker_frame world" required="true" output="screen"/>
  <node name="visualize_skeletons_transformed" pkg="human_pose_ROS" type="visualize_skeletons.py" args="--topic openpifpaf_pose_transformed_pose --marker_frame world" required="true" output="screen"/>
  <node name="visualize_skeletons_constrained" pkg="human_pose_ROS" type="visualize_skeletons.py" args="--topic openpifpaf_pose_constrained_limbs" required="true" output="screen"/>

  <node name="get_ref_angle" pkg="human_pose_ROS" type="get_ref_angle.py" args="" required="true" output="screen"/>

  <!-- <node name="openpifpaf_kalman" pkg="safety" type="skeleton_kalman.py" args="" required="true" output="screen"/> -->

  <!-- <node name="ar_tracker" pkg="human_pose_ROS" type="ar_tracker.py" args="" required="true" output="screen"/> -->
  <!-- <node name="ar_tracker" pkg="human_pose_ROS" type="ros_transform.py" args="" required="true" output="screen"/> --> -->


</launch>
