<?xml version="1.0"?>
<launch>
  <arg name="cam" default="wrist" />
  <node name="openpifpaf" pkg="human_pose_ROS" type="openpifpaf_ros.py" args="--cam --realsense $(arg cam) --scale 0.5 --debug" required="true" output="screen"/>
  <node name="visualize_skeletons" pkg="human_pose_ROS" type="visualize_skeletons.py" args="--kalman" required="true" output="screen"/>

  <!-- <node name="ar_tracker" pkg="human_pose_ROS" type="ar_tracker.py" args="" required="true" output="screen"/> -->


</launch>
