<?xml version="1.0"?>
<launch>
  <arg name="cam" default="wrist" />
  <node name="openpifpaf" pkg="human_pose_ROS" type="openpifpaf_ros.py" args="--cam --realsense $(arg cam) --debug" required="true" output="screen"/>
  <node name="ros_transform" pkg="human_pose_ROS" type="ros_transform.py" args="--cam $(arg cam) --debug" required="true" output="screen"/>
  <node name="filter_skeletons" pkg="human_pose_ROS" type="filter_skeletons.py" args="--debug --nofilter" required="true" output="screen"/>
  <node name="visualize_skeletons" pkg="human_pose_ROS" type="visualize_skeletons.py" args="" required="true" output="screen"/>
  <!-- <node name="ar_tracker" pkg="human_pose_ROS" type="ar_tracker.py" args="" required="true" output="screen"/> -->


</launch>
